<header>
    <nav class="relative">
        <div class="menu absolute">
            <i class="fa fa-bars"></i>
        </div>
        <h1><a href="../../">Best Books!</a></h1>
        <ul class="text-center">
            <li><a href="../">Home</a></li>
            <li>
                <a href="searches/new">Search the Google Books API</a>
            </li>
        </ul>
    </nav>
</header>