@import "./reset.css";
@import "./utilities.css";

body{
    background-color: #9b9b9b;
}

/* nav */
nav {
    background-color: #111;
    color: #f1f1f1;
    padding: 10px;
}
nav a {
    color: #f1f1f1;
}
nav h1 {
    margin: 0;
}
nav .menu {
    right: 10px;
    top: 10px;
    cursor: pointer;
}

nav .menu i {
    font-size: 24px;
}
nav ul {
    margin: 0;
    padding: 0;
    display: none;
}

nav ul li {
    padding: 5px 0;
}
/* main */
/* books */
main .title {
    background-color: #4a4a4a;
    color: #f1f1f1;
    padding: 10px;
}
main .title h3 {
    margin: 0;
}
main .books .book{
    background-color: #d8d8d8;
    width: 60%;
    margin: 40px auto;
    padding: 30px 20px 60px;
}
main .books .book img{
    width: 200px;
    height: 300px;
}
/* form */
main form#search-books{
    display: grid;
    width: 80%;
    margin: 40px auto;
    grid-template-columns: 100%;
/* grid-template-rows: 12px 12px 12px; */
}
main form#search-books input[type=text]::placeholder,
main form#search-books,
main form#search-books button{
    font-weight: 500;
}
main form#search-books label ,
main form#search-books input[type=text]{
    padding: 5px 8px;
}
main form#search-books label{
    background-color: #d8d8d8;
    
}

main form#search-books input[type=radio]{
    margin-left: 20px;
}
main form#search-books label:first-of-type input[type=radio]{
    margin-left: 40.5px;
}
main form#search-books button{
    background-color: #111;
    color: #f1f1f1;
    padding: 8px;    
}